<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceBaseUrl" value="http://localhost:9089/CriminalSearch.svc" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeneralConfiguration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:9089/CriminalSearch.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICriminalSearch"
                contract="CriminalSearchRefernce.ICriminalSearch" name="BasicHttpBinding_ICriminalSearch" />-->
          
          <endpoint address="http://localhost:9089/CriminalSearch.svc" binding="basicHttpBinding"
                  bindingConfiguration="GeneralConfiguration"
                  contract="NationalCriminal.Search.ServiceContracts.ICriminalSearch" />
          
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
