<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="NationalCriminal.Search.Service.DataAccess.Properties.Settings.CriminalDatabaseConnectionString"
         connectionString="Data Source=localhost;Initial Catalog=CriminalDatabase;IntegratedSecurity=true"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>