/****** Object:  Database [CriminalDatabase]    Script Date: 18-Aug-15 7:57:43 PM ******/
CREATE DATABASE [CriminalDatabase] ON  PRIMARY 
( NAME = N'CriminalDatabase', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CriminalDatabase.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CriminalDatabase_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CriminalDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CriminalDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[CriminalCrimeDetails]    Script Date: 18-Aug-15 7:57:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriminalCrimeDetails](
	[crime_id] [int] NOT NULL,
	[criminal_id] [int] NOT NULL,
	[crime_type] [nvarchar](20) NOT NULL,
	[crime_description] [nvarchar](500) NULL,
	[crime_datetime] [datetime] NOT NULL,
	[crime_location] [nvarchar](20) NULL,
	[crime_charges] [nchar](10) NULL,
	[fir_no] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CriminalCrimeDetails] PRIMARY KEY CLUSTERED 
(
	[crime_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CriminalProfile]    Script Date: 18-Aug-15 7:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriminalProfile](
	[criminal_id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[nickname] [nvarchar](30) NULL,
	[age] [int] NULL,
	[sex] [nvarchar](10) NULL,
	[height] [int] NULL,
	[weight] [int] NULL,
	[nationality] [nvarchar](20) NULL,
	[address] [nvarchar](50) NULL,
	[photo] [image] NULL,
	[country] [nvarchar](20) NULL,
	[state] [nvarchar](20) NULL,
	[city] [nvarchar](20) NULL,
	[ciminal_identification_marks] [nvarchar](500) NULL,
 CONSTRAINT [PK_CriminalProfile] PRIMARY KEY CLUSTERED 
(
	[criminal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 18-Aug-15 7:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[email_id] [nvarchar](50) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[last_login] [datetime] NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 18-Aug-15 7:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfile](
	[email_id] [nvarchar](50) NOT NULL,
	[name] [varchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[registration_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CriminalCrimeDetails] ([crime_id], [criminal_id], [crime_type], [crime_description], [crime_datetime], [crime_location], [crime_charges], [fir_no]) VALUES (1, 1, N'Purse Stolen', N'Stolen ladies purse', CAST(0x00009EC300000000 AS DateTime), N'Pune', N'500       ', N'124       ')
INSERT [dbo].[CriminalCrimeDetails] ([crime_id], [criminal_id], [crime_type], [crime_description], [crime_datetime], [crime_location], [crime_charges], [fir_no]) VALUES (2, 6, N'Kidnapping', N'Kidnapped a boy of 5years', CAST(0x0000A1DD00970FE0 AS DateTime), N'Washington', N'10000     ', N'3684      ')
INSERT [dbo].[CriminalCrimeDetails] ([crime_id], [criminal_id], [crime_type], [crime_description], [crime_datetime], [crime_location], [crime_charges], [fir_no]) VALUES (3, 18, N'Murder', N'Killed a girl', CAST(0x0000901A00C766E0 AS DateTime), N'London', N'3200      ', N'361       ')
INSERT [dbo].[UserLogin] ([email_id], [password], [last_login]) VALUES (N'abhishek.bande2008@gmail.com', N'123456', CAST(0x0000A4F70104888E AS DateTime))
INSERT [dbo].[UserLogin] ([email_id], [password], [last_login]) VALUES (N'abhishek.bande2008@hotmail.com', N'123456', CAST(0x0000A4F70105E868 AS DateTime))
INSERT [dbo].[UserLogin] ([email_id], [password], [last_login]) VALUES (N'abhishekb@tavisca.com', N'123456', CAST(0x0000A4F800AD3DC3 AS DateTime))
INSERT [dbo].[UserProfile] ([email_id], [name], [address], [registration_datetime]) VALUES (N'abhishek.bande2008@gmail.com', N'Abhishek', NULL, CAST(0x0000A4F70104874B AS DateTime))
INSERT [dbo].[UserProfile] ([email_id], [name], [address], [registration_datetime]) VALUES (N'abhishek.bande2008@hotmail.com', N'Abhishek Bande', N'New sangvi, Pune', CAST(0x0000A4F70105E864 AS DateTime))
INSERT [dbo].[UserProfile] ([email_id], [name], [address], [registration_datetime]) VALUES (N'abhishekb@tavisca.com', N'Bande Abhishek', N'Pune', CAST(0x0000A4F800AD3DC3 AS DateTime))
ALTER TABLE [dbo].[CriminalCrimeDetails]  WITH CHECK ADD  CONSTRAINT [FK_CriminalCrimeDetails_CriminalProfile] FOREIGN KEY([criminal_id])
REFERENCES [dbo].[CriminalProfile] ([criminal_id])
GO
ALTER TABLE [dbo].[CriminalCrimeDetails] CHECK CONSTRAINT [FK_CriminalCrimeDetails_CriminalProfile]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_UserProfile] FOREIGN KEY([email_id])
REFERENCES [dbo].[UserProfile] ([email_id])
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_UserProfile]
GO
